.body {
  background-color: black;
}
.linkPage {
  padding: 20px;
  border: 1px solid black;
  border-color: rgb(145, 136, 136);
  border-radius: 30px;
  text-align: center;
  height: 100%;
}

.link {
  text-decoration: none;
  text-decoration: black;
  border-radius: 30px;
  color: aliceblue;
}

.linksTo {
  display: flex;
  justify-content: space-around;
}

.linksTo2 {
  display: flex;
  justify-content: space-around;
}

.linksTo3 {
  display: flex;
  justify-content: space-around;
}

.navBar {
  display: flex;
}

.creaPerfil {
  margin-left: 25%;
  margin-right: 10%;
  align-self: center;
}

#btnClose {
  margin-left: 10%;
  align-self: center;
}

* {
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.proMember {
  color: rgb(184, 21, 21);
  font-family:fantasy;
}

.login {
  width: 140%;
  color: aliceblue;
  margin-right: 30px;
}

.formPerfil {
  width: 70%;
  color: aliceblue;
}

.formSelect {
  color: rgb(0, 0, 0);
}

.select {
  width: 70%;
}

.listaMusico {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid rgb(255, 255, 255);
  padding: 40px;
  border-radius: 30px;
  color: aliceblue;
}

.listaGen {
  list-style: none;
}

.columnas {
  border-radius: 10px;
}

.icons {
  height: 30px;
  width: 30px;
}

#root {
  background-color: rgb(6, 1, 34);
  height: 100%
}

.contacto {
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(163, 18, 18);
  padding: 15px;
  text-decoration: none;
}

.descr {
  width: 40%;
  color: aliceblue;
}

.descriptionHome {
  display: flex;
  justify-content: space-evenly;

}
.imgBand {
  height: 40%;
  width: 40%;
  border-radius: 40px;
}

.imgNirvana {
  height: 45%;
  width: 45%;
  border-radius: 80%;
}

.loginBody {
  display: flex;
  justify-content: space-around;
}

.aliceBlue {
  color: aliceblue;
}

.sesion {
  color: aliceblue;
  margin-left: 50px;
}

.pregunta {
  color: aliceblue;
  margin-left: 50px;
}